:root {
    --primary: #223e7c;
    --secondary: #3f4040;
    --color-whatsapp: #25D366;
    --color-telegram: #0088CC;
    --light: #f8fafc;
    --dark: #1e293b;
    --gray: #64748b;
    --light-gray: #e2e8f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--dark);
    line-height: 1.6;
    background-color: var(--light);
    overflow-x: hidden;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

/* WhatsApp Button */
.whatsapp-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    background-color: var(--color-whatsapp);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 15px rgba(37, 211, 102, 0.4);
    z-index: 1000;
    transition: all 0.3s;
    animation: pulse 2s infinite;
    text-decoration: none; /* Added to remove underline */
}

.whatsapp-btn:hover {
    transform: translateY(-5px) scale(1.1);
    box-shadow: 0 6px 20px rgba(37, 211, 102, 0.6);
}

.whatsapp-btn i {
    color: white;
    font-size: 32px;
}

@keyframes pulse {
    0% { box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.6); }
    70% { box-shadow: 0 0 0 15px rgba(37, 211, 102, 0); }
    100% { box-shadow: 0 0 0 0 rgba(37, 211, 102, 0); }
}

/* Scroll to Top Button */
#scrollToTopBtn {
    position: fixed;
    bottom: 100px; /* Ajusta esta valor para que no se superponga con el botón de WhatsApp */
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 50%;
    display: flex; 
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
}

#scrollToTopBtn.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

#scrollToTopBtn:hover {
    background-color: var(--secondary);
    transform: translateY(-5px);
}

#scrollToTopBtn i {
    font-size: 24px;
}


main {
    padding-top: 80px; /* Ajusta esto según la altura real de tu header */
}